{% extends "Blog/padre.html" %}

{% load static %}

{% block cuerpodelapagina %}

<h2 class="sobreAU"> Sobre nosotros </h2>
<style type="text/css">
    h3 {
        font-family: Arial, Helvetica, sans-serif;
        color:grey;
        font-size: 1.1rem;
        
    } 
</style>

<h3> Este proyecto unió a tres personas provenientes de lugares geográficos y ámbitos distintos, con variadas trayectorias y experiencias muy disímiles en cuanto a la programación. En el espíritu del equipo, estuvo desde el inicio presente lo que quisimos transmitir en el proyecto: un espacio para compartir -desde los saberes, experiencias y gustos de cada uno- y construir en conjunto un lugar de encuentro</h3>
<hr>

<div class="personas">
    <div class="imgPersona">
        <img src="/media/ludmila.jpg" alt="perfil" width="150px" height="150px">
    </div>
    <div class="textoPersona">
        <p class="nombreParticipante">Ludmila Vergini</p>
        <p class="descripcionParticipante"> Maestranda en Escritura y Alfabetización (FAHCE - UNLP). Especialista en Gestión Cultural (IDAES - UNSAM). Licenciada y Profesora de Enseñanza Media y Superior en Letras (UBA). Docente en el nivel Secundario. Integrante de los equipos técnicos de Lengua y Literatura en la GOC y en la UEICEE del Ministerio de Educación del GCBA. Responsable de contenidos y coordinadora de tutores en el Postítulo Enseñanza de la Lectura y la Escritura del INFOD. Autora de materiales didácticos y propuestas curriculares sobre la enseñanza de la lectura y la escritura. En el README está en detalle su contribución al proyecto. 
        </p>
    </div>
</div>
</p>
<div class="personas">
    <div class="imgPersona">
        <img src="/media/1616806561089.jpg" alt="perfil" width="150px" height="150px" >
    </div>
    <div class="textoPersona">
        <p class="nombreParticipante">Marcio Pasquini</p>
        <p class="descripcionParticipante"> Soy Argentino. Estudié Ingeniería en Sistemas y trabajo en el rubro hace 15 años. Desarrollo principalmente en .NET. Estudié Python porque considero que es una tecnología que tiene mucho potencial y es ampliamente utilizada. En el README.md del proyecto está el detalle de mi contribución en este proyecto</p>
    </div>
</div>
</p>
<div class="personas">
    <div class="imgPersona">
        <img src="\media\1.jpg" alt="perfil" width="150px" height="150px">
    </div>
    <div class="textoPersona">
        <p class="nombreParticipante">Mariana Abayay</p>
        <p class="descripcionParticipante"> 24 años. Cordobesa. Estudiante de Filosofía en la UNC y bartender. En el README está en detalle su contribución al proyecto. </p>
    </div>
</div>



{% endblock %}