{% extends "Blog/padre_simple.html" %}

{% load static %}

{% block titulopagina %} Sobre nosotros {% endblock %}

{% block cuerpodelapagina %}

<h6 class="sobreAU"> Sobre nosotros </h6>

<div class="personas">
    <div class="imgPersona">
        <img src="#" alt="perfil" width="150px" height="150px">
    </div>
    <div class="textoPersona">
        <p class="nombreParticipante">Ludmila Vergini</p>
        <p class="descripcionParticipante"> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta dolorem debitis, voluptates eos asperiores numquam esse recusandae id alias iste inventore harum vitae fuga maxime minima, quam deserunt dolore sint?</p>
    </div>
</div>
<div class="personas">
    <div class="imgPersona">
        <img src="#" alt="perfil" width="150px" height="150px" >
    </div>
    <div class="textoPersona">
        <p class="nombreParticipante">Marcio Pasquini</p>
        <p class="descripcionParticipante"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo a ea, sequi molestiae id ipsam tenetur sit iste architecto totam unde quis voluptates, culpa numquam eius expedita quibusdam officiis consectetur!</p>
    </div>
</div><div class="personas">
    <div class="imgPersona">
        <img src="/media/prueba.jpg" alt="perfil" width="150px" height="150px">
    </div>
    <div class="textoPersona">
        <p class="nombreParticipante">Mariana Abayay</p>
        <p class="descripcionParticipante"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime in commodi quos inventore deleniti delectus illum, nesciunt tempore assumenda unde labore! Illo id commodi eveniet repellat iusto laudantium quam voluptatibus?</p>
    </div>
</div>



{% endblock %}