{% extends "Blog/padre_simple.html" %}

{% load static %}

{% block titulopagina %} Categoría: {{ cat }}  {% endblock %}

{% block cuerpodelapagina %}


{% if mensaje %}

<h2>{{ mensaje }}</h2>

{% elif categoria_posts %}

<h2> Reseñas dentro de la categoría {{ cat }} </h2>

<br>
{% for post in categoria_posts %}

<h4> {{ post.titulo }} </h4> 

<h5>{{ post.subtitulo }}</h5>

<ul>
<li>Libro reseñado: {{ post.libro.titulo }}, de {{ post.libro.autor.nombre }} {{ post.libro.autor.apellido }} </li>
<li>Fecha de publicación de la reseña: {{ post.fecha_publicacion }}</li>
<li>Autor de la reseña: <a href="{% url 'profile' post.autor.pk %}">{{ post.autor }} </a> </li>
</ul>

<button>
    <a href="{% url 'PostVista' post.id %}"> Leer más</a> 
</button> 
{% if request.user == post.autor %}
    <a href=""> Editar reseña</a>  
    <a href="{% url 'eliminarPost' post.id %}"> Eliminar reseña</a>  
{% endif %}

_____________________________________________________________


{% endfor %}

{% else %}

<h2> Todavía no hay ninguna reseña en la categoría {{ cat }} </h2>

{% endif %}

{% endblock %}