{% extends "Blog/padre_simple.html" %}

{% load static %}

{% block titulopagina %} Tinder Libros {% endblock %}

{% block cuerpodelapagina %}
<div class="inicioAu">
  
  <div class="textoInAu">
    <div class="1Au">
      <h1 class="titInAu"> Un espacio para compartir lecturas </h1>
      <p class="textInAu"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore sed soluta magni accusamus ab natus officiis deserunt ducimus, quod exercitationem placeat quia, voluptates a praesentium at unde necessitatibus reiciendis sit?</p>
    </div>
    <!-- <button class="botonInAu" src="{% url 'About' %}"> CONOCÉ MÁS ACERCA DE NOSOTROS </button> -->
  </div>
  <div class="imgInicio">
    <img src="media\prueba2.png">
  </div>
</div>


<div class="row equalize-row">
  
{% for i in posts %}
    <div class="col-sm-6 col-md-4 equalize">
      <div class="thumbnail">
        <div class="thumbnail-container">
            <img class="thumbnail2" src="/media/{{i.libro.imagen}}">
        </div>
        <div class="caption">
          <h3>{{i.titulo}}</h3>
          <p>{{i.subtitulo}}</p>
          <p><a href="{% url 'PostVista' i.id %}" class="btn btn-primary" role="button">Leer más</a></p>
        </div>    
      </div>
    </div>
{% endfor%}

</div>

<h4> {{ mensaje }} </h4>
{% endblock %}