{% extends "Blog/padre_simple.html" %}

{% load static %}

{% block titulopagina %} Tinder Libros {% endblock %}

{% block cuerpodelapagina %}

<h1> Todas las reseñas: </h1>

<hr>

{% for post in posts %}

<h1> <a href="{% url 'PostVista' post.id %}"> {{ post.titulo }}</a> </h1> 

<h2>{{ post.subtitulo }}</h2>

<ul>
<li>Libro reseñado: {{ post.libro.titulo }}, de {{ post.libro.autor.nombre }} {{ post.libro.autor.apellido }} </li>
<li>Fecha de publicación de la reseña: {{ post.fecha_publicacion }}</li>
<li>Autor de la reseña: <a href="{% url 'profile' post.autor.pk %}">{{ post.autor }} </a> </li>
{% if post.categoria %}
<li> Categoría: <a href="{% url 'CategoriaPosts' post.categoria|slugify %}"> {{ post.categoria }}</a> </li> 
{% endif %}

<p> {{ post.cuerpo|safe|slice:500 }} ... <a href="{% url 'PostVista' post.id %}"> Leer más</a></p>

</ul>

{% if request.user == post.autor %}
<button>
    <a href=""> Editar reseña</a>  
</button>
<button>
    <a href="{% url 'eliminarPost' post.id %}"> Eliminar reseña</a>
</button>

{% endif %}

<hr>

{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if pagina_obj.has_previous %}
            <a href="?pagina=1">&laquo; Primera </a>
            <a href="?pagina={{ pagina_obj.previous_pagina_number }}">Anterior</a>
        {% endif %}

        <span class="current">
            Página {{ pagina_obj.number }} de {{ pagina_obj.paginator.num_pages }}.
        </span>

        {% if pagina_obj.has_next %}
            <a href="?pagina={{ pagina_obj.next_page_number }}">Siguiente</a>
            <a href="?pagina={{ pagina_obj.paginator.num_pages }}">Última &raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock %}