{% extends "Blog/padre_simple.html" %}

{% load static %}

{% block titulopagina %} Tinder Libros {% endblock %}

{% block cuerpodelapagina %}

<h1> Todas las reseñas: </h1>

<hr>

{% for post in posts %}

<div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
    <p class="lead my-3">  {{ post.fecha_publicacion }} </p>
      <h1 class="display-4 font-italic">{{ post.titulo }}</h1>
      <p class="lead my-3"> Reseña de <em>{{ post.libro.titulo }}</em>, de {{ post.libro.autor.nombre }} {{ post.libro.autor.apellido }} </p>
      <p class="lead my-3"> Escrita por <a href="{% url 'profile' post.autor.pk %}">{{ post.autor }} </a> </p>
      {% if post.categoria %}
      <p class="lead my-3"> Categoría: <a href="{% url 'CategoriaPosts' post.categoria|slugify %}"> {{ post.categoria }}</a></p>
      {% endif %}
      <p class="lead my-3"> {{ post.cuerpo|safe|slice:500 }} ... </p>
      <p class="lead mb-0"><a href="#" class="text-white font-weight-bold"> <a href="{% url 'PostVista' post.id %}"> Leer más</a></p>
    </div>
  </div>

{% if request.user == post.autor %}
<button>
    <a href="{% url 'editarPost' post.id %}"> Modificar reseña</a>
</button>
<button>
    <a href="{% url 'eliminarPost' post.id %}"> Eliminar reseña</a>   
</button>

{% endif %}

<hr>

{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if pagina_obj.has_previous %}
            <a href="?pagina=1">&laquo; Primera </a>
            <a href="?pagina={{ pagina_obj.previous_pagina_number }}">Anterior</a>
        {% endif %}

        <span class="current">
            Página {{ pagina_obj.number }} de {{ pagina_obj.paginator.num_pages }}.
        </span>

        {% if pagina_obj.has_next %}
            <a href="?pagina={{ pagina_obj.next_page_number }}">Siguiente</a>
            <a href="?pagina={{ pagina_obj.paginator.num_pages }}">Última &raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock %}