{% extends "Blog/padre.html" %}

{% load static %}


{% block cuerpodelapagina %}

<h2> Resultados de la búsqueda: </h2>
{% for post in posts %} 


<ul>
    <li> <a href="{% url 'PostVista' post.id %}"> {{ post.titulo }}</a> de <a href="{% url 'profile' post.autor.pk %}"> {{ post.autor }}</a> </li>
</ul>

{% endfor %} 

{% for libro in libros %}
 
<ul>
    <li> <a href="{% url 'LibroVista' libro.id %}"> <em>{{ libro.titulo }}</em>, de {{ libro.autor.nombre }}  {{ libro.autor.apellido }}</a></h3></li>
</ul>


{% endfor %}



{{ mensaje_busqueda }}

{% endblock %}