{% extends "Blog/padre_simple.html" %}

{% load static %}

{% load crispy_forms_tags %}


{% block titulopagina %} Cargar un autor {% endblock %}

{% block cuerpodelapagina %}

{% if miFormulario.errors %}

<p style="color:red;">Están mal los datos, revisar</p>

{% elif mensaje %}

<h2>{{ mensaje }}</h2>

<h3> Ingrese los datos de otro autor: </h3>
<form action="" method="POST"> {% csrf_token %} 


    <table>

        {{ formulario|crispy }}

    </table>

    <input type="submit", value="Enviar">

</form>

<br>

{% else %}

<h3> Ingrese los datos del autor que va a crear: </h3>
<form action="" method="POST"> {% csrf_token %} 


    <table>

        {{ formulario|crispy }}

    </table>

    <input type="submit", value="Enviar">

</form>

<br>

{% endif %}
{% endblock %}