{% extends "Blog/padre_simple.html" %}

{% load static %}

{% block titulopagina %} Autor: {{ autor }}  {% endblock %}

{% block cuerpodelapagina %}


<ul>

    <li> <h3> <strong>Nombre</strong>: {{ autor.nombre }}</h3></li>
    <li> <h3> <strong>Apellido</strong>: {{ autor.apellido }}</h3></li>

</ul>

    {% if libros %}

    <h3>Libros de {{ autor.nombre }} {{ autor.apellido }}: </h3>

    {% for libro in libros %}

    <ul>
        <li> <a href="{% url 'LibroVista' libro.id %}"> <em>{{ libro.titulo }}</em>, de {{ libro.autor.nombre }}  {{ libro.autor.apellido }}</a></h3></li>
    </ul>

    
    {% endfor %}
    {% else %}

    <p>Todavía no hay ningún libro cargado del autor {{ autor.nombre}} {{ autor.apellido }}</p>

    {% endif %}
    {% if user.is_staff %}
    <a href="{% url 'LibroCrear' %}"> Agregar libro</a>
{% endif %} 
    {% endblock %}




