{% extends "Blog/padre_simple.html" %}

{% load static %}

{% block titulopagina %} Autor: {{ autor }}  {% endblock %}

{% block cuerpodelapagina %}

<style type="text/css">
    h3 {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color:black;
        background-color: gray  
    }
    h6 {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color:black;
        background-color: gainsboro;
        padding: 5px;
    }

</style>
<ul>
    <div class="imgAutor">
        <img src="media\prueba3.png" width="100px" height="100px">
    </div>
    <h3> <strong>{{ autor.apellido }}</strong>, {{ autor.nombre }} </h3>
    <h6>Libros de {{ autor.nombre }} {{ autor.apellido }}: </h3>
</ul>

    {% if libros %}

    

    {% for libro in libros %}

    <ul>
        <li> <a href="{% url 'LibroVista' libro.id %}"> <em>{{ libro.titulo }}</em>, de {{ libro.autor.nombre }}  {{ libro.autor.apellido }}</a></h3></li>
    </ul>

    
    {% endfor %}
    {% else %}

    <p>Todavía no hay ningún libro cargado del autor {{ autor.nombre}} {{ autor.apellido }}</p>

    {% endif %}
    {% if user.is_staff %}
    <a href="{% url 'LibroCrear' %}"> Agregar libro</a>
    {% endif %} 
    {% endblock %}




