{% extends "Blog/padre_simple.html" %}

{% load static %}

{% block titulopagina %} Lista de autores {% endblock %}

{% block cuerpodelapagina %}

{% if mensaje %}
<h2>{{ mensaje }}</h2>

{% else %}


<h1>Listado de autores: </h1>

<ul>

    {% for autor in autores %}

    <li><h5> <a href="{% url 'AutorVista' autor.id %}"> {{ autor.apellido }}, {{ autor.nombre }} </a>    </h5></li>

    <br>
    
    {% if user.is_staff %}
<button>
    <a href="{% url 'EliminarAutor' autor.id %}"> Eliminar </a>
</button>
<button>
    <a href="{% url 'EditarAutor' autor.id %}"> Editar </a>
</button>


    {% endif %}

    {% endfor %}
</ul>
    {% if user.is_staff %}
    <a class="navbar-brand" href="{% url 'AutorCrear' %}">Agregar otro autor</a>´
    {% endif %}


    {% endif %}
    {% endblock %}