{% extends "Blog/padre_simple.html" %}

{% load static %}

{% block cuerpodelapagina %}

<h1>Listado de libros: </h1>

<ul>

    {% for libro in libros %}

    <li><h5> <a href="{% url 'LibroVista' libro.id %}"> {{ libro.titulo }}, de {{ libro.autor.nombre }} {{ libro.autor.apellido }} </a>    </h5></li>

    <br>
    
    {% if user.is_staff %}
<button>
    <a href="{% url 'EliminarLibro' libro.id %}"> Eliminar </a>
</button>
<button>
    <a href="{% url 'EditarLibro' libro.id %}"> Editar </a>
</button>


    {% endif %}

    {% endfor %}
</ul>
    {% if user.is_staff %}
    <a class="navbar-brand" href="{% url 'LibroCrear' %}">Agregar otro libro</a>´
    {% endif %}


    {% endblock %}