{% extends "Blog/padre_simple.html" %}

{% load static %}

{% block titulopagina %} Resultado de la búsqueda de libros {% endblock %}

{% block cuerpodelapagina %}

{% if mensaje %}
<h2>{{ mensaje }}</h2>

{% else %}


<h1>Resultados de la búsqueda: </h1>


{% for libro in libros %}
 
<ul>
    <li> <a href="{% url 'LibroVista' libro.id %}"> <em>{{ libro.titulo }}</em>, de {{ libro.autor.nombre }}  {{ libro.autor.apellido }}</a></h3></li>
</ul>

{% endfor %}

{{ mensajeLibro }}


<a href="{% url 'BusquedaLibro' %}">Buscar otro libro</a>


{% endif %}

{% endblock %}