{% extends "Blog/padre_simple.html" %}

{% load static %}

{% block titulopagina %} Resultado de la búsqueda de libros {% endblock %}

{% block cuerpodelapagina %}

{% if mensaje %}
<h2>{{ mensaje }}</h2>

{% else %}


<h1>Resultados de la búsqueda: </h1>


{% for libro in libros %}
 
<h3>{{ libro.titulo }}</h3>
<ul>
    <li> <strong>Autor</strong>: {{ libro.autor }}</li>
    <li> <strong>ISBN</strong>: {{ libro.isbn }}</li>
    <li> <strong>Descripción</strong>: {{ libro.descripcion }}</li>
    <li> <strong>Fecha de publicación</strong>: {{ libro.fecha_publicacion }}</li>
    <li> <strong>Editorial</strong>: {{ libro.editorial }}</li>
</ul>

{% endfor %}


{{ mensajeLibro }}


<a href="{% url 'BusquedaLibro' %}">Buscar otro libro</a>


{% endif %}

{% endblock %}