{% extends "Blog/padre_simple.html" %}

{% load static %}

{% block titulopagina %} Conversacion con: {{ usu }}  {% endblock %}

{% block cuerpodelapagina %}

<<section style="background-color: #eee;">
    <div class="container py-5">
  
      <div class="row">
  
        <div class="col-md-6 col-lg-5 col-xl-4 mb-4 mb-md-0">
  
          <h5 class="font-weight-bold mb-3 text-center text-lg-start">Usuarios</h5>
  
          <div class="card">
            <div class="card-body">
  
              <ul class="list-unstyled mb-0">
                {%for perfil in perfiles %}

                <li class="p-2 border-bottom" style="background-color: #eee;">
                  <a href="{% url 'Conversacion' perfil.user.username %}" class="d-flex justify-content-between">
                    <div class="d-flex flex-row">
                      <img src="{{ perfil.imagen.url }}" alt="avatar"
                        class="rounded-circle d-flex align-self-center me-3 shadow-1-strong" width="60">
                      <div class="pt-1">
                        <p class="fw-bold mb-0"> {{ perfil.user.username }}</p>
                      </div>
                    </div>
                  </a>
                </li>
                {% endfor %}
              </ul>
  
            </div>
          </div>
  
        </div>
  
        <div class="col-md-6 col-lg-7 col-xl-8">
  
{% if mensajesConUsuario %}


{% for mensaje in mensajesConUsuario %}


{% if mensaje.receptor == usuario %}

          <ul class="list-unstyled">
            <li class="d-flex justify-content-between mb-4">
              <img src="{{ mensaje.emisor.perfil.imagen.url }}" alt="avatar"
                class="rounded-circle d-flex align-self-start me-3 shadow-1-strong" width="60">
              <div class="card">
                <div class="card-header d-flex justify-content-between p-3">
                  <p class="fw-bold mb-0">{{ mensaje.emisor }}</p>
                  <p class="text-muted small mb-0"><i class="far fa-clock"></i> {{ mensaje.fecha }}</p>
                </div>
                <div class="card-body">
                  <p class="mb-0">
                    {{ mensaje.texto }}
                  </p>
                </div>
              </div>
            </li>

            {% endif %}


            {% if mensaje.emisor == usuario %}

            <li class="d-flex justify-content-between mb-4">
              <div class="card w-100">
                <div class="card-header d-flex justify-content-between p-3">
                  <p class="fw-bold mb-0">{{ mensaje.emisor }}</p>
                  <p class="text-muted small mb-0"><i class="far fa-clock"></i> {{ mensaje.fecha }}</p>
                </div>
                <div class="card-body">
                  <p class="mb-0">
                    {{ mensaje.texto }}
                  </p>
                </div>
              </div>
              <img src="{{ mensaje.emisor.perfil.imagen.url }}" alt="avatar"
                class="rounded-circle d-flex align-self-start ms-3 shadow-1-strong" width="60">
            </li>
            {% endif %}
            {% endfor %}
            {% else %}

            <h2> Todavía no hay ningún mensaje con  {{ usu }} </h2>
            
            {% endif %}
            <button type="button" class="btn btn-info btn-rounded float-end">
              <a href="{% url 'messagesUsu' usu %}"> Enviar un nuevo mensaje a {{ usu }} </a>
          </button>

          </ul>
          </div>
  
        </div>
    
      </div>
    </section>

    <h3> Nuevo mensaje </h3>

  <button type="button" class="btn btn-info btn-rounded float-end">
      <a href="{% url 'messages'  %}"> Enviar un nuevo mensaje </a>
  </button>

          

{% endblock %}