{% extends "Blog/padre_simple.html" %}

{% load static %}

{% block titulopagina %} Conversacion con: {{ usu }}  {% endblock %}

{% block cuerpodelapagina %}


<h2> Mensajes con {{ usu }} </h2>

<br>
{% for mensaje in mensajesConUsuario %}


<h2>{{ mensaje.receptor }}</h2>
<h2>{{ mensaje.texto }}</h2>
<h2>{{ mensaje.leido }}</h2>
<h2>{{ mensaje.fecha }}</h2>


{% if request.user == post.autor %}
    <a href=""> Editar mensaje</a>  
    <a href="¿"> Eliminar mensaje</a>  
{% endif %}

_____________________________________________________________


{% endfor %}

{% for mensaje in mensjesRecibidos %}

<h2>{{ mensaje.receptor }}</h2>
<h2>{{ mensaje.texto }}</h2>
<h2>{{ mensaje.leido }}</h2>
<h2>{{ mensaje.fecha }}</h2>

{% endfor %}

<h2> Todavía no hay ningún mensaje con  {{ usu }} </h2>


{% endblock %}